body {
  font-family: 'Open Sans', sans-serif;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;

  color: #fffafa;
}

/* MAP */

.map-container {
  position: relative;

  width: 65%;
  min-width: 450px;
}

.map {
  width: 100%;
  height: 100%;
}

.search {
  position: absolute;
  top: 1rem;
  left: calc(50% - 150px);

  z-index: 5;
}

.search-input {
  width: 300px;
  padding: 10px;

  border: 2px solid #3878c7;
}

/* ROUTES UI */

.routes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  min-width: 370px;

  background-color: #3878c7;

  border-right: 2px solid #2661aa;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);

  box-sizing: border-box;

  z-index: 5;
}

/* Main app title */

.app-title {
  width: 100%;
  margin: 1rem 0;
  padding: 20px 0;

  text-align: center;
  text-transform: uppercase;
}

/* Info about moving points block */

.routes-info {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: bold;
}

/* Block shows if there are no markers on map */

.empty-points-info {
  /* font-size: 1.1rem; */
  font-weight: bold;
}

/* Route point blocks */

.route-points-list {
  width: 70%;
  margin: 0;
  padding: 20px 15px;

  border: 1px solid #fffafa;
  border-radius: 5px;

  list-style: none;
}

.route-point {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  padding: 10px;

  background-color: #3878c7;

  border: 1px solid #fffafa;
  border-radius: 5px;
}

.route-point:last-child {
  margin-bottom: 0;
}

.route-point:hover {
  background-color: #2661aa;
  cursor: move;
}

.drop-area {
  position: relative;

  background-color: #fffafa;
}

.drop-area::before {
  content: 'Drop Here';

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;

  border: 2px dashed #ea4335;
  border-radius: 5px;

  box-sizing: border-box;
}

/* Order number element */

.point-order {
  padding: 10px;

  background-color: #ea4335;

  border: 1px solid #fff;
  border-radius: 50%;
}

.point-order-number {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;

  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Element with address info */

.point-address {
  padding: 0 10px;

  font-size: 14px;
  font-weight: bold;
}

/* Remove button */

.point-remove-btn {
  padding: 5px 0;

  color: #fffafa;
  font-size: 1.5rem;

  background-color: transparent;

  border: none;
}

.point-remove-btn:hover {
  color: #ea4335;

  cursor: pointer;
}

/* Hide elements on drag over event */

.drop-area .point-order {
  margin: 0;
}

.drop-area .point-address {
  display: none;
}

.drop-area .point-remove-btn {
  display: none;
}
